name: Deploy to VPS
run-name: Deploy to VPS
on: [push]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: |
          npm install
          npm run build

      - name: Place files
        run: |
          rm -rf /var/www/${{ github.ref_name }}
          cp -r dist /var/www/${{ github.ref_name }}
        shell: bash
